:root{
    --primary-color: #488aed;
    --pi-font-size: 18px;
    --brand-text-color: white;
    --secondary-color: #c7d4e7;
    --dark: var(--primary-color);
}

p, span{
    font-size: var(--pi-font-size);
}

.navbar-brand{
    color: var(--brand-text-color) !important;
    font-weight: bold;
}

span.navbar-brand{
    font-size: 1.40rem !important;
}

body{
    background-color: var(--secondary-color) !important;
}

div.row {
    margin-top: 20px;
}

@import '~bootstrap/dist/css/bootstrap.min.css';